/* fonts */

@import "fonts.css";
/* General styles*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  color: #fff;
  font-size: 70px;
  font-weight: lighter;
}

h3 {
  width: 100%;
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

h3::first-letter {
  color: #dca453;
}

.krmn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

.krmn-align-center {
  align-items: center;
}

/* Header */

header {
  position: relative;
}

header nav {
  position: fixed;
  width: 100%;
  /* padding: 10px 0; */
  background: rgb(0, 0, 0, 0.5);
  z-index: 999;
}

header nav ul.krmn-navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul.krmn-navigation li a {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 0 16px;
  text-transform: uppercase;
}

header nav ul.krmn-navigation li:last-child a {
  padding-right: 0px;
}

header nav ul.krmn-navigation li a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav ul.krmn-navigation li a:hover:after {
  width: 100%;
  opacity: 1;
}

.krmn-main-banner {
  display: block;
  width: 100%;
}

.krmn-header-text {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.krmn-header-text .krmn-arrow {
  display: inline-block;
  border: solid white;
  padding: 20px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.krmn-header-text .krmn-arrow:hover {
  opacity: .7;
}

/* Logo */

.krmn-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 60px; */
  height: 60px;
  color: #fff;
  font-size: 24px;
  /* border: solid 2px #fff; */
  /* border-radius: 100%; */
}

/* Sections */

.krmn-section {
  padding: 85px 0;
}

/* About Us*/

#krmn-company-profile .krmn-column {
  width: 48%;
  margin-top: 25px;
  text-align: center;
}

#krmn-company-profile i {
  font-size: 45px;
  color: #dca453;
}

/* Gallery */

#krmn-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#krmn-gallery li {
  width: 20%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#krmn-gallery li img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#krmn-gallery li:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#krmn-gallery li:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#krmn-gallery li:hover:after {
  width: 0;
  height: 0;
}

/* Testimonials*/

#krmn-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.krmn-testimonials {
  max-width: 500px;
  position: relative;
}

.krmn-testimonials ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.krmn-testimonials ul li {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.krmn-testimonials ul li .krmn-user-data img {
  border-radius: 100%;
}

.krmn-testimonials ul li .krmn-user-data .krmn-user-name {
  display: block;
  margin: 15px 0;
}

.krmn-testimonials ul li>p {
  font-style: italic;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}

.krmn-user-data img {
  width: 100px;
  height: 100px;
}

.krmn-testimonials .krmn-arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  border: solid 6px #ccc;
  padding: 20px;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.krmn-testimonials .krmn-arrow:hover {
  border-color: #dca453;
}

.krmn-testimonials .krmn-arrow.krmn-arrow-left {
  right: 120%;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}

.krmn-testimonials .krmn-arrow.krmn-arrow-right {
  left: 120%;
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
}

/* Contact Us */

#krmn-contact {
  background: #f8f8f8;
}

#krmn-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

#krmn-contact form input:not([type="submit"]),
#krmn-contact form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

#krmn-contact form *::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#krmn-contact form *::-moz-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#krmn-contact form *:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#krmn-contact form *:-moz-input-placeholder {
  color: #ccc;
  font-style: italic;
}

#krmn-contact form textarea {
  height: 100px;
  resize: none;
}

#krmn-contact input[type="submit"] {
  border: none;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 30px;
  color: #fff;
  background-color: #dca453;
  box-shadow: inset 0 -3px 0 0 #c79653;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#krmn-contact input[type="submit"]:hover {
  color: #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #a27c47;
}

/* Animations */

.krmn-pulsate {
  -webkit-animation: pulsate 3s ease-in-out;
  animation: pulsate 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .3;
}

@keyframes pulsate {
  0% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}